body {
  overflow-x: hidden;
}

.box {
  opacity: 0.01;
  transform: translatey(50%);
  transition: transform 1s ease-out;
}

.box.show {
  transform: translatey(0);
  opacity: 1;
}
.box.serviceBox {
  opacity: 0.01;
  transform: translatey(50%) scale(0.3);
  transition: transform 1s ease-out;
}
.box.show.serviceBox {
  transform: translatey(0%) scale(0.8);
  opacity: 1;
}

.boxRight {
  opacity: 0;
  transform: translatey(50%);
  transition: transform 1s ease-out;
}

.boxRight.show {
  transform: translatex(0);
  opacity: 1;
}

.boxLeft {
  opacity: 0.01;
  transform: translatex(-100%);
  transition: transform 1s ease-out;
}

.boxLeft.show {
  transform: translatex(0);
  opacity: 1;
}
